.properties {
  margin-top: 80px;
}

.properties-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 26px;
}

.properties-item {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.properties-content {
  gap: 26px;
}

.properties-about {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  margin-bottom: 20px;
}

.properties-dot {
  width: 15px;
  height: 11px;
  background-color: var(--btn-color-primary);
}

.icon-about {
  background-image: url('../../assets/images/icons/about.svg');
  width: 18px;
  height: 20px;
}

.properties-picture {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: auto;
  gap: 10px;
}

.properties-left {
  flex: 2;
  background-color: var(--background-color-tertiary);
  height: 300px;
}

.properties-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.properties-top {
  flex: 1;
  background-color: var(--background-color-tertiary);
  margin-bottom: 10px;
}

.properties-bottom {
  flex: 1;
  background-color: var(--background-color-tertiary);
}

@media (min-width: 1200px) {
  .properties {
    margin-top: 120px;
  }

  .properties-left {
    height: 400px;
  }

  .properties-right {
    height: 400px;
  }
}
