.btn {
  border: none;
  background-color: var(--btn-color-primary);
  cursor: pointer;
}

.btn:hover {
  background-color: #fd3411;
}

.btn-signIn {
  width: 50px;
  height: 24px;
  color: var(--color-tertiary);
  border-radius: 6px;
  font-family: var(--font-primary);
}

.btn-start {
  width: 190px;
  height: 50px;
  color: var(--color-tertiary);
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;
  border-radius: 10px;
}

.btn-play {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  color: var(--color-tertiary);
  font-size: 14px;
  width: 150px;
  height: 60px;
  border-top-left-radius: 5px;
}

.btn-bill {
  width: 70px;
  height: 42px;
  background-color: var(--background-color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-explore {
  width: 120px;
  height: 40px;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--color-quaternary);
  background-color: var(--background-color-primary);
  border: 1px solid var(--btn-color-primary);
  margin-top: 40px;
  margin-bottom: 120px;
}

.btn-explore:hover {
  color: var(--color-tertiary);
  font-weight: 600;
  background-color: var(--color-quaternary);
  border: 2px solid var(--btn-color-primary);
}

.btn-see {
  width: 120px;
  height: 40px;
  border: #fff;
  background-color: var(--color-tertiary);
  color: var(--btn-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn-see:hover {
  border: 2px solid var(--btn-color-primary);
  color: var(--color-tertiary);
  font-weight: 600;
  background-color: var(--btn-color-primary);
}

.btn-subscribe {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: var(--color-tertiary);
  font-size: 14px;
}

.btn-subscribe:hover {
  font-weight: 600;
}

.btn-form {
  width: 129px;
  height: 53px;
  border-radius: 10px;
  color: var(--color-tertiary);
}

.btn-form:hover {
  font-weight: 600;
}

@media (min-width: 1200px) {
  .btn-signIn {
    font-size: 18px;
    width: 81px;
    height: 33px;
  }

  .btn-signIn-mb {
    display: none;
  }

  .btn-signIn-dt {
    display: none;
  }

  .btn-play {
    width: 190px;
    height: 75px;
  }

  .btn-start {
    width: 200px;
    height: 58px;
  }

  .btn-explore {
    width: 172px;
    height: 60px;
    margin-top: 60px;
  }

  .btn-see {
    width: 140px;
    height: 50px;
    border-radius: 10px;
  }

  .btn-subscribe {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
  }

  .btn-form {
    width: 129px;
    height: 53px;
  }
}
