.feature-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

@media (min-width: 1200px) {
  .feature-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
