.card-project {
  width: 280px;
  height: 150px;
  background-color: #b0b0b0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.card-project-address {
  font-family: var(--font-secondary);
  color: var(--color-tertiary);
  font-size: 20px;
}

.icon-see {
  background-image: url('../../assets/images/icons/arrow-orange.svg');
  width: 5px;
  height: 10px;
}

.icon-see:hover {
  background-image: url('../../assets/images/icons/icon-arrow-right.svg');
  width: 5px;
  height: 10px;
}

@media (min-width: 1200px) {
  .card-project {
    width: 290px;
    height: 170px;
  }
}
