.contact-form {
  background-color: var(--background-color-aqua);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: fit-content;
  padding: 40px;
  cursor: pointer;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-label {
  font-weight: var(--font-secondary);
  color: var(--color-gray-light);
}

.contact-form-input,
.contact-form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 23px;
  margin-top: 7px;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 55px;
}

.contact-form-textarea,
.contact-form-input::placeholder {
  color: #999;
  font-family: var(--font-secondary);
}

.contact-form-textarea {
  height: 100px;
}

.contact-form-header {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .contact-form {
    width: 450px;
    height: fit-content;
    padding: 40px;
  }
}
